*/**/node_modules.js
src/node_modules
db/node_modules
client/node_modules
LEGACY_LENS_SEARCH/node_modules
dist/

**/*.env

# Zero-installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions