@import '../../node_modules/bulma/bulma';
/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
// body {
//   font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   line-height: 1.4em;
//   color: #4d4d4d;
//   min-width: 230px;
//   max-width: 550px;
//   margin: 0 auto;
//   -webkit-font-smoothing: antialiased;
//   -moz-font-smoothing: antialiased;
//   font-smoothing: antialiased;
//   font-weight: 300;
// }

td {
	padding: 12px;
}

h2 {
	color: $vin-blue;
}

.savings { color: $vin-green; }
.loss { color: $vin-red; }
input.small { width: 46px; }
td.fuel-savings-label { width: 175px; }

body {
    text-align: center;
    padding-top: 100px;
    background-color: #fd6860;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: snow;

}
header {
    padding: 20px 100px;
    h1 {
        font-size: 4em;
        text-shadow: 2px 2px #000;
    }
}
ul.thumbnail_list {
    display: flex;
    list-style-type: none;
}
ul.thumbnail_list li {
    padding: 10px;
}





/**
    * (optional) define here the style definitions which should be applied on the slider container
    * e.g. width including further controls like arrows etc.
    */
.slider {}

.frame {
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.slides {
    display: inline-block;
}

li {
    position: relative;
    display: inline-block;
    margin: 10px 7px;   

    img {
        height: 325px;
        width: auto;
    }
}

.prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.next svg, .prev svg {
    width: 25px;
}
